.container-drive {
  background: rgba(239, 236, 254, 0.5)
    url("../../assetsBlockchain/paypage/keys-bg.svg") no-repeat left center;
  background-size: 70rem;
  color: rgb(80, 89, 107);
}
.drive {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  padding: 13.6875rem 2.5rem 9.1875rem;
  max-width: 62.5rem;
  margin: 0 auto;
}
.drive > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 60%;
}
.drive-content {
  flex: 0 0 25.1875rem;
  align-self: center;
}
.drive-content > h2 {
  color: rgb(18, 29, 51);
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.25rem;
}

.drive-content > p {
  margin-bottom: 2rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.drive-content > p > span {
  color: rgb(12, 108, 242);
  cursor: pointer;
}

@media (max-width: 426px) {
  .drive {
    flex-direction: column-reverse;
    text-align: center;
    padding: 10rem 1rem 0px;
    padding-top: 8rem;
    gap: 4rem;
  }

  .drive-content > h2 {
    width: 90%;
    margin-inline: auto;
  }

  .drive-content > p {
    font-size: 1rem;
  }
  .drive > img {
    max-width: none;
  }
}
