/* container wantto */
.container-wantto {
  padding: 80px 0;
  background: rgb(18, 29, 51)
    url("../../assetsBlockchain/paypage/bg-wantto.svg") no-repeat -0.0625rem center;
  background-size: cover;
  color: #fff;
}

.wantto {
  max-width: 62.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* wantto content */
.wantto-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.wantto-content > h2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.3;
}

.wantto-content > p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}
/* responsive mobile */
@media (max-width: 426px) {
  .container-wantto {
    padding: 40px 0;
  }
  .wantto-content > h2 {
    width: 95%;
  }
  .wantto {
    padding: 0 1rem;
    text-align: center;
    flex-direction: column;
    gap: 1.25rem;
  }
}
